@tailwind base;
@tailwind components;
@tailwind utilities;

/* Using !important to force the dark background color */
html, body, #root {
  background-color: #111827 !important;
  @apply min-h-screen;
  color: #00FF9F !important; /* Hyperliquid green */
}

/* Base styles for the app container */
#root {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10px; /* Only 10px from top */
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

/* Custom animation for the logo */
@keyframes drawLogo {
  0% {
    stroke-dashoffset: 5000;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0; /* Pause at the end */
  }
}

.logo-path {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: moveDash 20s linear infinite;
  stroke: #00FF9F; /* Hyperliquid green for the logo path */
}

@keyframes moveDash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -5000; /* Exact path length */
  }
}
